html, body, div#root {
    height: 100vh;
    margin: 0;
}

body {
    background: black;
    color: white;
    overflow: hidden;
    font-weight: 500;
}


.link {
    color: white;
    text-decoration: none;
}

.buttonLink {
    color: #a7a7a3;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

.buttonLink:hover {
    color: white;
}

.link:hover {
    text-decoration: underline;
}

.songCard {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 3px;
    box-sizing: border-box;
    padding: 4px;
    color: #a7a7a3;
}

.songCard:hover {
    background: #2a2a2a;
    cursor: pointer;
    color: white;
    border-radius: 6px;
}

.songCardCover {
    display: flex;
    gap: 4px;
    align-items: center;
    flex: 3;
    box-sizing: border-box;
}


.mediaPlayer {
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    flex: 0 1 100px;
}

.progressBarWrapper {
    width: 100%;
    height: 4px;
    background: gray;
    margin: 0 auto;
    border-radius: 10px;
}

.progressBar {
    width: 0;
    height: 100%;
    background: white;
    position: relative;
    border-radius: 10px;
}

.progressBarWrapper:hover .progressBar {
    background: #22bf55;
}

.progressBarWrapper:hover .progressBarPoint {
    display: block;
}


.progressBarWrapper:hover {
    cursor: pointer;
}

.progressBarPoint {
    width: 10px;
    height: 10px;
    z-index: 10;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 0;
    transform: translate(50%, -25%);
    display: none;
    transition: 0.3s ease;
}

.playButton {
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.playButton:hover {
    transform: scale(1.1);
}


.contentTile {
    padding: 2rem;
    background: #121212;
    border-radius: 6px;
}